<div class="logo"></div>
<div class="display">
    <h1>Objectif</h1>
    <p>
        <strong>Geofer</strong> est un outil développé par le <em>Cerema Normandie-Centre</em>, avec pour objectif
        d’afficher des données
        quantitatives sur le potentiel voyageurs et marchandises du réseau ferré français. Il s’enrichit progressivement
        de couches de
        données, sur le modèle de Géoportail. La mise en service n’est pas terminée, l’outil est en version bêta.
    </p>

    <div class="spacer"></div>

    <h1>Fonctionnement</h1>
    <p>
        L’utilisateur peut choisir les couches de données qu’il souhaite visualiser : plan, vue aérienne, réseaux ferrés
        et
        routiers, entreprises, établissements scolaires, etc. Il peut cliquer sur un point (gare voyageurs ou site
        marchandises/ITE) pour afficher un encart contenant la vue aérienne du site et les principales données
        correspondantes. Ces données sont téléchargeables au format de tableur via l’onglet “téléchargement” de la
        plateforme.
    </p>

    <p>
        Les gares ouvertes du réseau ferré national, ainsi que certaines gares fermées, donnent accès aux informations
        suivantes :
    </p>

    <ul>
        <li>Nombre de salariés, scolaires et habitants à moins de 15 ou 30 minutes à pied, ou 10 minutes en voiture de
            la gare.</li>
        <li>Nombre de chambres d’hôtel et emplacements de camping accessibles à moins de 30 minutes à pied de la gare
            (données disponibles à l’échelle communale).</li>
        <li>Fréquentation et desserte de la gare : nombre d’arrêts quotidiens, montées et descentes, autocars inclus.
        </li>
        <li>Trafics routiers : moyenne journalière des flux routiers sur les axes principaux.</li>
    </ul>

    <h3>Données utilisées</h3>
    <ul>
        <li><strong>Isochrones :</strong> module isochrone de l’IGN</li>
        <li><strong>Salariés :</strong> fichier Sirene 2020</li>
        <li><strong>Scolaires :</strong> open data du ministère de l’Éducation nationale, 2014 - 2019</li>
        <li><strong>Lits touristiques et camping :</strong> INSEE 2021</li>
        <li><strong>Desserte et fréquentation des gares :</strong> open data SNCF, 2014 - 2020</li>
        <li><strong>Trafics routiers :</strong> service statistique du ministère des Transports</li>
        <li><strong>Fret :</strong> base ITE du Cerema, 2015 - 2021</li>
        <li><strong>Infrastructure ferroviaire :</strong> open data SNCF + Cerema</li>
        <li><strong>Passages à niveau :</strong> open data SNCF (<a
                href="https://ressources.data.sncf.com/explore/dataset/liste-des-passages-a-niveau/information/"
                target="_blank">lien</a>)</li>
        <li><strong>Réseau ferroviaire :</strong> fichier Réseau Ferré de France (2011), mis à jour par le Cerema</li>
    </ul>

    <h3>Détails des établissements de loisirs</h3>
    <ul>
        <li>Arts du spectacle vivant (90.01Z)</li>
        <li>Gestion de salles de spectacles (90.04z)</li>
        <li>Parcs d’attractions et parcs à thèmes (93.21z)</li>
        <li>Autres activités récréatives et de loisirs (93.29z)</li>
        <li>Gestion des bibliothèques et archives (91.01z)</li>
        <li>Gestion des musées (91.02z)</li>
        <li>Gestion des sites et monuments historiques (91.03z)</li>
        <li>Gestion des jardins botaniques et zoologiques (91.04z)</li>
        <li>Organisation de jeux de hasard (92.00z)</li>
    </ul>

    <h3>Détail des services de santé</h3>
    <ul>
        <li>Pratique dentaire (86.23z)</li>
        <li>Médecins généralistes (86.21z)</li>
        <li>Radiodiagnostic et radiothérapie (86.22a)</li>
        <li>Activités chirurgicales (86.22b)</li>
        <li>Autres médecins spécialistes (86.22c)</li>
        <li>Activités hospitalières (86.10z)</li>
    </ul>

    <h3>Détail des commerces</h3>
    <ul>
        <li>Boulangerie et boulangerie-pâtisserie (10.71c)</li>
        <li>Pâtisserie (10.71d)</li>
        <li>Cuisson de produits de boulangerie (10.71b)</li>
        <li>Charcuterie (10.13b)</li>
        <li>Commerce de fruits et légumes spécialisés (47.21z)</li>
        <li>Commerce de produits surgelés (47.11a)</li>
        <li>Commerce d’alimentation générale (47.11b)</li>
        <li>Supérettes (47.11c)</li>
        <li>Supermarchés (47.11d)</li>
        <li>Magasins multi-commerces (47.11e)</li>
        <li>Hypermarchés (47.11f)</li>
        <li>Commerce non alimentaire (47.19a)</li>
    </ul>

    <h3>Détail de la restauration</h3>
    <ul>
        <li>Débits de boisson (56.30z)</li>
        <li>Restauration traditionnelle (56.10a)</li>
        <li>Cafétérias et libres-services (56.10b)</li>
        <li>Restauration rapide (56.10c)</li>
    </ul>

    <h3>Détail des établissements sportifs</h3>
    <ul>
        <li>Gestion d’installations sportives (93.11z)</li>
        <li>Centres de culture physique (93.13z)</li>
    </ul>
</div>