<section class="legal">
    <h1 class="title">Mentions légales</h1>

    <h2>Présentation de l'application</h2>
    <p>
        L'application Geofer est un outil du Centre d’études et d’expertise sur les risques, l’environnement, la
        mobilité et l’aménagement : Cerema.
        Elle a pour vocation de présenter sur un portail internet accessible à tous des informations relatives aux
        installations ferroviaires (gares,
        voies ferrées, installations ferroviaires embranchées, passages à niveau) et diverses informations permettant
        d’apprécier le potentiel des gares.
    </p>

    <h2>Utilisation de l'application</h2>
    <p>
        L’accès à l'application peut être interrompu à tout moment, sans préavis, notamment en cas de force majeure, de
        maintenance ou si le Cerema
        décide de suspendre ou d’arrêter la fourniture de ce service.
    </p>

    <h2>Contenu de l'application</h2>
    <p>
        Le Cerema s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des données diffusées
        et utilisées par l'application au moment de leur intégration. Cependant, le Cerema ne garantit en aucune façon
        l’exactitude, la précision ou l’exhaustivité de ces données. Celles-ci sont non-contractuelles et peuvent être
        modifiées à tout moment.
    </p>
    <p>
        Les données diffusées par Géofer proviennent de différents producteurs, en particulier de la SNCF (licence
        OdbL), de
        l’IGN (licence IGN), de l’INSEE (licence etalab-2,0), du ministère de l’Éducation Nationale (licence etalab-2,0)
        et du Cerema.
    </p>
    <p>
        L'application est régie par la loi française. Les utilisateurs étrangers acceptent formellement l’application de
        la loi française
        en accédant à l'outil et en utilisant tout ou partie de ses fonctionnalités. La responsabilité du Cerema ne
        pourra en aucun cas
        être engagée quant au contenu et aux données figurant sur celui-ci, ou aux conséquences pouvant résulter de leur
        utilisation ou interprétation.
    </p>

    <h2>Propriété intellectuelle</h2>
    <p>
        Les contenus, logos et fonctionnalités de l'application sont protégés par le droit de la propriété
        intellectuelle et sont
        la propriété de la SNCF, de l’IGN, de l’INSEE, du ministère de l’Éducation Nationale, du ministère du
        partenariat avec
        les territoires et de la décentralisation (transports) et du Cerema.
    </p>
    <p>
        À ce titre, vous vous engagez à ne pas copier, traduire, reproduire, commercialiser, publier, exploiter et
        diffuser partiellement ou intégralement
        des contenus de l'application protégés par le droit de la propriété intellectuelle, sans mention du producteur
        de cette application (Cerema),
        sans mention des sources des données utilisées et sans vous conformer aux termes de chacune des licences
        concernées.
    </p>
    <p>
        La violation de l’un de ces droits de propriété intellectuelle est un délit de contrefaçon passible de deux ans
        d’emprisonnement et de 150.000 euros d’amende.
    </p>

    <h2>Vie privée</h2>
    <p>
        Les données à caractère personnel recueillies par le Cerema font l’objet d’un traitement informatique ayant pour
        seule destination la gestion des droits
        d'accès à l'application et aux mesures d’audience de celle-ci. Le mail de l’utilisateur utilisé lors de
        l’authentification est collecté lors de sa première connexion,
        l’application conservant également la dernière date de connexion. La base légale sur laquelle repose ce
        traitement est le consentement.
    </p>
    <p>
        Ces données sont conservées le temps que le compte est actif, et supprimées au bout de deux ans d'inactivité.
        Elles sont supprimées sur demande de l'utilisateur.
    </p>
    <p>
        L'application répond à la réglementation relative à l’informatique, aux fichiers et aux libertés telle que
        définie par la loi n°78-17 du 6 janvier 1978 modifiée.
        Conformément à celle-ci et au règlement général n°2016/679 sur la protection des données, vous disposez d’un
        droit d’accès, de modification, de rectification
        et de suppression des données qui vous concernent. Pour exercer ce droit, adressez-vous au délégué à la
        protection des données :
    </p>
    <div class="contact">
        <p><strong>Par courrier :</strong><br>
            Cerema, Direction de la stratégie et de la communication<br>
            25, avenue François Mitterrand - CS 92 803<br>
            69674 Bron Cedex, France</p>

        <p><strong>Par courriel :</strong>&nbsp;&nbsp;<a
                href="mailto:delegue.rgpd@cerema.fr">delegue.rgpd&#64;cerema.fr</a>
        </p>
    </div>

    <h2>Liens</h2>
    <p>
        Le Cerema autorise la mise en place de liens hypertextes pointant vers cette application sous réserve de :
    </p>
    <ul>
        <li>ne pas utiliser la technique du « lien profond » : les pages ne doivent pas être imbriquées à l’intérieur
            des
            pages d’un autre site, mais accessibles par l’ouverture d’une fenêtre séparée,</li>
        <li>d’indiquer impérativement dans le lien la source Cerema,</li>
        <li>n’utiliser les informations de l'application qu’à des fins personnelles, professionnelles ou associatives à
            l’exclusion de toute utilisation à des fins commerciales ou publicitaires.</li>
    </ul>
    <p>
        Cette autorisation ne s’applique que pour les sites dont le contenu n’est contraire ni à la loi ni aux bonnes
        mœurs,
        et dans la mesure où ces liens ne contreviennent pas aux intérêts du Cerema et garantissent pour l’utilisateur
        la possibilité d’identifier l’origine de l'outil.
    </p>

    <h2>Modification</h2>
    <p>
        Le Cerema se réserve le droit de modifier, sans préavis, les présentes conditions générales d’utilisation. Pour
        toute remarque sur la présente application,
        vous pouvez nous écrire en recourant au lien mail présent sur la page principale.
    </p>

    <h2>Droit applicable</h2>
    <p>
        Le présent site est soumis au droit français.
    </p>

    <h2>Hébergement</h2>
    <p>
        Cette application est hébergée et administrée par le Cerema.
    </p>

    <h2>Conception</h2>
    <p>
        La version 1.0 de cette application a été conçue et développée par le Cerema sur la base du socle cadriciel du
        Cerema.
    </p>
</section>